body {
	background-image: url(https://katiedachiselbyrnes.files.wordpress.com/2016/02/red-curtain.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

	font-family: Impact;
	color: white;

}

body {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    display: block;
    margin: 8px;
}

button[type="button"] {

background: blue

width:200pc;
height: 50px;
border: 0 ;


}
