body{

background-image: url(http://wallpapercave.com/wp/aVxiJOt.jpg);
background-repeat: no-repeat;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

	font-family: Impact;
	color: white;
		color: white;
	border-style: double;
	border-size: 20px;
	text-align: center; 
	font-size: 300%;
}