body{

background-image: url(http://www.horadent.com/i/2017/05/red-hd-wallpaper-android.jpg);


	font-family: Impact;
	color: white;
		color: white;
	border-style: double;
	border-size: 20px;
	text-align: center; 
	font-size: 300%;
}
button[type="button"] {

background: blue

width:200pc;
height: 50px;
border: 10px ;
border-color: white;


}