body{

background-image: url(http://wallpapercave.com/wp/aVxiJOt.jpg);


	font-family: Impact;
	color: white;
		color: white;
	border-style: double;
	border-size: 20px;
	text-align: center; 
	font-size: 300%;
}