body {
	background-image: url(http://hdblackwallpaper.com/wallpaper/2015/07/cool-red-and-black-wallpapers-9-background-wallpaper.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

	font-family: Impact;
	color: white;

}

body {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    display: block;
    margin: 8px;
}





