<!DOCTYPE html>
<html>
<head>

	<title>{{ title }}</title>


	<link rel="stylesheet" type="text/css" href="resources/style.css">

</head>
<body>
<h1>Upload your kicks here</h1>

<div class="boxed">
	Name:  
	<input type="text" name="name">
	<br>
	<br>

	Description:
	<input type="text" id="text" name="description" style="height: 30px " />


		

	</div>
	Image:  
	<input type="file" name="image">
	<button>Upload Picture</button>

	<div>
		


	</div>

</head>
<body>


<h1>{{ content }}</h1>

</body>
</html>