<title>

{{ title }}

</title>
<link rel="stylesheet" type="text/css" href="/resources/about.css">

<body>

	<h1> {{ content }} </h1>
	<div style="border: 5px outset silver">
	<p> Juan Taylor </p>
	<img src="https://s3.amazonaws.com/images.berecruited.com/photos/athletes/original/101215372.jpg" height="400" width="400"></img> 
	<p> Shareef Miles </p>
	<p> Nigel Powell </p>
	<img src="https://pbs.twimg.com/media/DAYQhBBXoAAGLpz.jpg" height="400" width="400"></img>
	<p> Joshua Sanders </p>
	
	</div>


{{ html_post }}

</body>