<!DOCTYPE html>
<html>
<head>

	<title>{{ title }}</title>


	<link rel="stylesheet" type="text/css" href="resources/style.css">
	<link rel="stylesheet" type="text/css" href="resources/title.css">

</head>

<header>
	
<a href="localhost:8080/">
	
</header>
<body>

<!-- Title text leads to title page-->
		Welcome {{ user_email }}
	
	<a href="/">
		<h1 id="t"> Shoe Crew </h1>	
	</a>


<h1>Upload your kicks here</h1>


<div style="border: 5px solid white">
	Name:  
	<input type="text" name="name">
</div>	

	<br>
	<br>

	Description:
	<input type="text" id="text" name="description" style="height: 30px " />


		


	<div style="border: 5px solid white">
	Image:  
	<input type="file" name="image">
	<button>Upload Picture</button>

	</div>
		





</body>
</html>