<!-- -->
<!DOCTYPE html>
<html>
<head>

	Welcome {{ user_email }}

	<title>{{ title }}</title>


	<link rel="stylesheet" type="text/css" href="resources/style.css">
	<link rel="stylesheet" href="resources/title.css">

	

</head>
<body>

<!-- Title text leads to title page-->


	<a href="/">
		<h1 id="t">{{ title }}</h1>	
	</a>


<!-- Button links to Login-->
	<a href="{{ html_login_url }}">
		<button type="button">Login</button>	
	</a>


<!-- Button links to Upload page-->
	<a href="/up">	
		<button type="button">Upload</button>
	</a>


	<a href="/all">	
		<button type="button">All Shoes</button>
	</a>


	<a href="/about">	
		<button type="button">About Us</button>
	</a>



	<br>
	<h1>Welcome to ShoeU</h1>

	<h2>Here you can upload pictures of your favorite shoes</h2>

	<h3>Feel free to leave contact information in description to sell or trade with other users</h3>



</body>
</html>