<title>

{{ title }}

</title>
<link rel="stylesheet" type="text/css" href="/resources/about.css">

<body>


	




<a href="{{ html_login_url }}">
		<button type="button">Login</button>	
	</a>


<!-- Button links to Upload page-->
	<a href="/up">	
		<button type="button">Upload</button>
	</a>


	<a href="/all">	
		<button type="button">All Shoes</button>
	</a>


	<a href="/about">	
		<button type="button">About Us</button>
	</a>



	<br>

	<a href="/">
		<h1 id="t">{{ content }}</h1>	
	</a>

	<div style="border: 5px outset silver">
	<p> Juan Taylor </p>
	<img src="https://s3.amazonaws.com/images.berecruited.com/photos/athletes/original/101215372.jpg" height="400" width="400"></img> 
	<p> Shareef Miles </p>
	<p> Nigel Powell </p>
	<img src="https://pbs.twimg.com/media/DAYQhBBXoAAGLpz.jpg" height="400" width="400"></img>
	<p> Joshua Sanders </p>
	
	</div>


{{ html_post }}

</body>