

	<title>{{ title }}</title>

	<link rel="stylesheet" type="text/css" href="/resources/all.css">

</head>

<body>
<a href="/">
		<h1 id="t">{{ title }}</h1>	
	</a>

	<div id=i>

<!-- Button links to Login-->
	<a href="{{ html_login_url }}">
		<button type="button">Login</button>	
	</a>


<!-- Button links to Upload page-->
	<a href="/up">	
		<button type="button">Upload</button>
	</a>


	<a href="/all">	
		<button type="button">All Shoes</button>
	</a>


	<a href="/about">	
		<button type="button">About Us</button>
	</a>

	</div>

	<br>


	{{ html_post }}


</body>
