<!-- -->
<!DOCTYPE html>
<html>
<head>

	Welcome {{ user_email }}

	<title>{{ title }}</title>


	<link rel="stylesheet" type="text/css" href="resources/style.css">
	<link rel="stylesheet" href="resources/title.css">

</head>
<body>
<!-- Title text leads to title page-->
	<a href="/">
		<h1 id="t">{{ title }}</h1>	
	</a>


<!-- Button links to Login-->
	<a href="{{ html_login_url }}">
		<button type="button">Login</button>	
	</a>


<!-- Button links to Upload page-->
	<a href="/up">	
		<button type="button">Upload</button>
	</a>


	<a href="/all">	
		<button type="button">All Shoes</button>
	</a>


	<a href="/about">	
		<button type="button">About Us</button>
	</a>



	<br>



</body>
</html>