<!DOCTYPE html>
<html>
<head>

	<title>{{ title }}</title>


	<link rel="stylesheet" type="text/css" href="resources/style.css">
	<link rel="stylesheet" type="text/css" href="resources/title.css">

</head>

<header>
	
<!-- <a href="/"> -->
	
</header>

<body>

<!-- Title text leads to title page-->
		Welcome {{ user_email }}
	
<br>
<a href="{{ html_login_url }}">
		<button type="button">Login</button>	
	</a>


<!-- Button links to Upload page-->
	<a href="/up">	
		<button type="button">Upload</button>
	</a>


	<a href="/all">	
		<button type="button">All Shoes</button>
	</a>


	<a href="/about">	
		<button type="button">About Us</button>
	</a>

	<a href="/">
		<h1 id="t"> Shoe Crew </h1>	
	</a>


<h1>Upload your kicks here</h1>



<form name="input" method="post" enctype="multipart/form-data">
<div style="border: 5px outset silver">

	Name:  
	<input type="text" name="name">


	<br>
	<br>

	Description:
	<input type="text" id="text" name="description" style="height: 30px " />


	Picture Link:
	<input type="text" id="text" name="piclink" style="height: 30px " />	

	<input type=submit> 

</div>
</form>		





</body>
</html>